body{
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("https://images.alphacoders.com/118/1186766.png");
    background-size: cover;
    text-align: center;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: white;
}

fieldset{
    width: 10%;
    align-content: center;
    border: rgba(0, 0, 0, 0);
}
.options {
    margin: 0 auto;
    display: flex;
}

table.options td {
    padding: 10px;
}

button{
    background-color: red; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px;
    display: flex;
}